# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/crash.log

# Env
.env

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
